{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="form-container">

        <h1>Documents</h1>
    <form action="/documents/about_document" method="POST">
        <div class="list-group"  style="overflow: auto;width:100%;height: 40px">
            <table class="table">
                <thead>
                  <tr>
                    <th>doc_id</th>
                    <th>doc_name</th>
                  </tr>
                </thead>
            </table>
        </div>
        <div class="list-group"  style="overflow: auto;width:100%;height: 200px">
            <table class="table">
                <thead>
                  <tr>
                    <th>doc_id</th>
                    <th>doc_name</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in doc_packages %}
                            <tr>
                                <td>{{ d.doc_id }}</td>
                                <td>{{ d.doc_name }}</td>
                                <td>
                                    {#<button type="button" class="list-group-item list-group-item-action" onclick="alert('{{ d.doc_id }}')">Edit</button>#}
                                    <button type="submit" class="btn btn-info">Info</button>
                                    {#<a href="/documents/create_document" class="btn btn-info" role="button">Edit</a>#}
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </form>

{#        <div class="list-group"  style="overflow: auto;width:80%;height: 200px">#}
{#            {% for d in doc_packages %}#}
{#              <button type="button" class="list-group-item list-group-item-action" onclick="alert('{{ d.doc_id }}')">{{ d.doc_name }}</button>#}
{#            {% endfor %}#}
{#        </div>#}

        <div class="account-form">

        </div>

        <form action="/documents/create_document" method="POST" class="account-form">
{#            <button type="submit" class="btn btn-danger">New Document</button>#}
            <a href="/documents/create_document" class="btn btn-info" role="button">New Document</a>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>


{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/document.css">
{% endblock %}