{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="form-container">
{#<form action="/documents/about_document" method="POST">#}
{#    <input name="aemail" type="text" placeholder=" Your email address" class="form-control" value="qqqq">#}
{#                                    <button type="submit1" class="btn btn-info">Info</button>#}
{##}
{#</form>#}
        <h1 style="text-align: center;" >Documents</h1>
{#    <form action="/documents/about_document" method="POST">#}
{#        <div class="list-group"  style="width:100%;height: 40px">#}
{#            <table class="table">#}
{#                <thead>#}
{#                  <tr>#}
{#                    <th>doc_id</th>#}
{#                    <th>doc_name</th>#}
{#                  </tr>#}
{#                </thead>#}
{#            </table>#}
{#        </div>#}
        <br>
        <div class="list-group"  style="
                                            overflow: auto;
                                            width:80%;
                                            height: 400px;
                                            background-color: #ededed;
                                            border: 1px solid gray;
                                            border-radius: 5px;
                                            margin-left: auto;
                                            margin-right: auto;">
            <table class="table">
                <thead>
                  <tr>
{#                    <th>doc_id</th>#}
                    <th>Document Name</th>
                  </tr>
                </thead>
                <tbody>
                    {% for d in doc_packages %}
                            <tr>
{#                                <td>{{ d.doc_id }}</td>#}
                                <td>{{ d.doc_name }}</td>
                                <td>
                                    <form action="/documents/about_document" method="POST">
                                    {#<button type="button" class="list-group-item list-group-item-action" onclick="alert('{{ d.doc_id }}')">Edit</button>#}
                                    <input type="hidden" name="doc_id" id="doc_id" value='{{ d.doc_id }}'>
                                    <input type="hidden" name="doc_name" type="text" placeholder=" Your email address" class="form-control" value="{{ d.doc_name }}">
                                    <button type="submit" class="btn btn-info">Info</button>
                                    {#<a href="/documents/create_document" class="btn btn-info" role="button">Edit</a>#}
                                    </form>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
{#    </form>#}

{#        <div class="list-group"  style="overflow: auto;width:80%;height: 200px">#}
{#            {% for d in doc_packages %}#}
{#              <button type="button" class="list-group-item list-group-item-action" onclick="alert('{{ d.doc_id }}')">{{ d.doc_name }}</button>#}
{#            {% endfor %}#}
{#        </div>#}

        <div class="account-form">

        </div>

    <br>
        <form action="/documents/create_document" method="POST" class="account-form" style="text-align: right;" >
{#            <button type="submit" class="btn btn-danger">New Document</button>#}
            <a href="/documents/create_document" class="btn btn-info" role="button">New Document</a>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>


{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/document.css">
{% endblock %}