{% extends "shared/_layout.html" %}
{% block title %}create{% endblock %}

{% block main_content %}
    <div class="form-container">
        <form action="edit_document" method="POST" class="account-form">
            <h1>Create a Document</h1>

            <input name="doc_name" type="text" placeholder=" Document Name" class="form-control" value="{{ doc_name }}">
            <button type="submit" class="btn btn-danger">Create</button>
            <div style="clear: both;"></div>

            {% if error %}
                <div class="error-msg">{{ error }}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css">
{% endblock %}