{% extends "shared/_layout.html" %}
{% block title %}Map PyPI Demo{% endblock %}

{% block main_content %}
    <h1>Maps</h1>

    <div id="mapid" style="height: 180px;">map</div>

{% endblock %}

{% block additional_css %}
<!-- this would be css from gis.html -->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
       integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
       crossorigin=""/>
{% endblock %}